<div *ngIf="isadmin">
  <h2>Liste des utilisateurs</h2>
  <table>
    <thead>
      <tr>
        <th>Pseudonyme</th>
        <th>Mail</th>
        <th>Etat</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.name }}</td>
        <td>{{ user.mail }}</td>
        <td>{{ user.etat }}</td>
        <td>
            <button *ngIf="user.level<=-1" (click)="Valider_Inscription(user.mail, user.level)">valider l'inscription</button>
            <button *ngIf="user.level<=2" (click)="ModifierProfil(user.mail)">Modifier le profil</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div *ngIf="!isadmin">
  <p>Vous n'avez pas les droits d'accès à cette page.</p>
</div>
