<div>
    <h3>Choisissez votre photo de profil</h3>
    <div class="photo-grid">
        <img src='../../assets/img/avatars/avatar1.png' alt="Photo 1" (click)="selectPhoto('../../assets/img/avatars/avatar1.png')">
        <img src='../../assets/img/avatars/avatar2.png' alt="Photo 2" (click)="selectPhoto('../../assets/img/avatars/avatar2.png')">
        <img src='../../assets/img/avatars/avatar3.png' alt="Photo 3" (click)="selectPhoto('../../assets/img/avatars/avatar3.png')">
        <img src='../../assets/img/avatars/avatar4.png' alt="Photo 3" (click)="selectPhoto('../../assets/img/avatars/avatar4.png')">
    </div>
</div>
