
<app-main-banner></app-main-banner>
<div id="main">
  <div *ngIf="isvisiteur"> 
  <section class="hero-container fade-in">
        <div class="hero">
          <div class="hero-content">
            <h1>Donovia : Gérez votre maison connectée</h1>
            <p>Une plateforme intuitive pour simplifier votre quotidien numérique, optimiser l’énergie et renforcer la sécurité de votre habitat.</p>
          </div>
        </div>
      </section>
    
      <!-- Description -->
      <section class="description fade-in">
        <h2>Pourquoi choisir Donovia ?</h2>
        <p>Nous rendons votre maison plus intelligente, plus sûre et plus économe.</p>
      </section>
    
      <!-- Features -->
      <section class="features fade-in">
        <div class="feature-card">
          <img src="../../assets/img/ChatGPT_Image_Apr_8_2025_11_33_09_PM.png" alt="Maison connectée" />
          <div class="feature-text">
            <h3>Confort & Domotique</h3>
            <p>Contrôlez l’éclairage, le chauffage et plus encore depuis votre téléphone.</p>
            <a routerLink="/information">En savoir plus</a>
          </div>
        </div>
    
        <div class="feature-card">
          <img src="../../assets/img/ChatGPT Image Apr 8, 2025, 11_23_56 PM.png" alt="Sécurité connectée" />
          <div class="feature-text">
            <h3>Sécurité intelligente</h3>
            <p>Surveillez votre maison en temps réel avec nos capteurs connectés.</p>
            <a>Découvrir</a>
          </div>
        </div>
      </section>
    </div>
    <div *ngIf="!isvisiteur">
      <app-objet-utilisateur></app-objet-utilisateur>
    </div> 
    <div *ngIf="!isSimple">
      <div class="user-apps-container">
        <app-create-object></app-create-object>
        <app-create-piece></app-create-piece>
      </div>
    </div>
</div>
<app-pied-de-page></app-pied-de-page>
