<ul class="navbar">
  <li class="mobil">
    <a routerLink="/home">
      <img class="logo-mobil" src="/assets/img/logo_name.png" />
    </a>
  </li>
  <li class="mobil" *ngIf="est_connecter">
    <a routerLink="/profil">
      <img *ngIf="est_connecter" [src]="photoURL" class="profile-photo" alt="Photo de profil" />
    </a>
  </li>
  <li>
    <a routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="link-nav">Accueil</a>
  </li>
  <li *ngIf="!est_connecter">
    <a routerLink="/information" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="link-nav">Informations</a>
  </li>
  <li *ngIf="est_connecter" class="mes-objets">
    <a routerLink="/mes-objets" class="link-nav">Mes Objets</a>
  </li>
  <li *ngIf="est_connecter" class="social">
    <a routerLink="/social" class="link-nav">Social</a>
  </li>
  <li *ngIf="!est_connecter" class="se-connecter">
    <a routerLink="/identifier/connexion" class="right">Se connecter</a>
  </li>
  <li *ngIf="est_connecter">
    <a routerLink="/home" class="right" (click)="deconnexion()">Se déconnecter</a>
  </li>
  <li class="pc" *ngIf="est_connecter">
    <a routerLink="/profil">
      <img *ngIf="est_connecter" [src]="photoURL" class="profile-photo" alt="Photo de profil"/>
    </a>
  </li>
</ul>

